<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径 -->
	<property name="LOG_HOME" value="/home/tomcat/apache-tomcat-7.0.57/logs" />
	<property name="PROJECT" value="crm.biz" />
	
	<!-- 记录程序的请求和返回日志 -->
	<appender name="infoFileLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/${PROJECT}/info.%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>10</MaxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}-%msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">  
          <level>INFO</level>  
          <onMatch>ACCEPT</onMatch>  
          <onMismatch>DENY</onMismatch>
        </filter>
	</appender>
	
	<!-- 记录程序返回的自定义异常日志 -->
	<appender name="errorFileLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/${PROJECT}/error.%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>10</MaxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}-%msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">  
          <level>ERROR</level>  
          <onMatch>ACCEPT</onMatch>  
          <onMismatch>DENY</onMismatch>  
        </filter>
	</appender>
	
	<!-- 记录mybatis的数据库日志 -->
	<appender name="sqlFileLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/${PROJECT}/sql.%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>10</MaxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}-%msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">  
          <level>DEBUG</level>  
          <onMatch>ACCEPT</onMatch>  
          <onMismatch>DENY</onMismatch>  
        </filter>
	</appender>
	
	<logger name="com.yyabl.api.crm.biz.Dao" level="DEBUG" />
	
	<root>
		<appender-ref ref="infoFileLog" level="INFO"/>
		<appender-ref ref="errorFileLog" level="ERROR"/>
		<appender-ref ref="sqlFileLog" level="DEBUG"/>
	</root>
</configuration>