<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyabl.api.crm.biz.Dao.ApiOrgDefMapper">
	<cache type="org.mybatis.caches.memcached.MemcachedCache" />
	<resultMap id="BaseResultMap" type="com.yyabl.api.crm.biz.Domain.ApiOrgDef">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
		<result column="MDID" property="mdid" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, ORG_NAME, MDID
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from BFCRM.API_ORG_DEF
		where ID = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from BFCRM.API_ORG_DEF
		where ID = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.yyabl.api.crm.biz.Domain.ApiOrgDef">
		insert into BFCRM.API_ORG_DEF (ID, ORG_NAME, MDID
		)
		values (#{id,jdbcType=INTEGER}, #{orgName,jdbcType=VARCHAR},
		#{mdid,jdbcType=INTEGER}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.yyabl.api.crm.biz.Domain.ApiOrgDef">
		insert into BFCRM.API_ORG_DEF
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="orgName != null">
				ORG_NAME,
			</if>
			<if test="mdid != null">
				MDID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="orgName != null">
				#{orgName,jdbcType=VARCHAR},
			</if>
			<if test="mdid != null">
				#{mdid,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.yyabl.api.crm.biz.Domain.ApiOrgDef">
		update BFCRM.API_ORG_DEF
		<set>
			<if test="orgName != null">
				ORG_NAME = #{orgName,jdbcType=VARCHAR},
			</if>
			<if test="mdid != null">
				MDID = #{mdid,jdbcType=INTEGER},
			</if>
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.yyabl.api.crm.biz.Domain.ApiOrgDef">
		update BFCRM.API_ORG_DEF
		set ORG_NAME = #{orgName,jdbcType=VARCHAR},
		MDID = #{mdid,jdbcType=INTEGER}
		where ID = #{id,jdbcType=INTEGER}
	</update>
</mapper>