<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyabl.api.crm.biz.Dao.BhztMapper">
	<resultMap id="BaseResultMap" type="com.yyabl.api.crm.biz.Domain.Bhzt">
		<id column="TBLNAME" property="tblname" jdbcType="VARCHAR" />
		<result column="REC_NUM" property="recNum" jdbcType="INTEGER" />
	</resultMap>
	
	<sql id="Base_Column_List">
		TBLNAME, REC_NUM
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from BFCRM.BHZT
		where TBLNAME = #{tblname,jdbcType=VARCHAR}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		BFCRM.BHZT
		where TBLNAME = #{tblname,jdbcType=VARCHAR}
	</delete>
	
	<insert id="insert" parameterType="com.yyabl.api.crm.biz.Domain.Bhzt">
		insert into BFCRM.BHZT
		(TBLNAME, REC_NUM)
		values (#{tblname,jdbcType=VARCHAR},
		#{recNum,jdbcType=INTEGER})
	</insert>
	
	<insert id="insertSelective" parameterType="com.yyabl.api.crm.biz.Domain.Bhzt">
		insert into BFCRM.BHZT
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="tblname != null">
				TBLNAME,
			</if>
			<if test="recNum != null">
				REC_NUM,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="tblname != null">
				#{tblname,jdbcType=VARCHAR},
			</if>
			<if test="recNum != null">
				#{recNum,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.yyabl.api.crm.biz.Domain.Bhzt">
		update BFCRM.BHZT
		<set>
			<if test="recNum != null">
				REC_NUM = #{recNum,jdbcType=INTEGER},
			</if>
		</set>
		where TBLNAME = #{tblname,jdbcType=VARCHAR}
	</update>
	
	<update id="updateByPrimaryKey" parameterType="com.yyabl.api.crm.biz.Domain.Bhzt">
		update BFCRM.BHZT
		set REC_NUM = #{recNum,jdbcType=INTEGER}
		where TBLNAME =
		#{tblname,jdbcType=VARCHAR}
	</update>
	
	<select id="procUpdateBHZT" statementType="CALLABLE" parameterType="map">
		{call BFCRM.Update_BHZT(#{TBLNAME,mode=IN,jdbcType=CHAR},#{NewRecNo,mode=OUT,jdbcType=INTEGER})}
	</select>
	
</mapper>