<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyabl.api.crm.biz.Dao.Hyk_ZfjlMapper" >
  <resultMap id="BaseResultMap" type="com.yyabl.api.crm.biz.Domain.Hyk_Zfjl" >
    <id column="JLBH" property="jlbh" jdbcType="INTEGER" />
    <result column="HYKTYPE" property="hyktype" jdbcType="SMALLINT" />
    <result column="ZY" property="zy" jdbcType="VARCHAR" />
    <result column="JE" property="je" jdbcType="DECIMAL" />
    <result column="DJR" property="djr" jdbcType="INTEGER" />
    <result column="DJRMC" property="djrmc" jdbcType="VARCHAR" />
    <result column="DJSJ" property="djsj" jdbcType="TIMESTAMP" />
    <result column="ZXR" property="zxr" jdbcType="INTEGER" />
    <result column="ZXRMC" property="zxrmc" jdbcType="VARCHAR" />
    <result column="ZXRQ" property="zxrq" jdbcType="TIMESTAMP" />
    <result column="BJ_HF" property="bjHf" jdbcType="SMALLINT" />
    <result column="CZDD" property="czdd" jdbcType="VARCHAR" />
    <result column="BJ_HYK" property="bjHyk" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    JLBH, HYKTYPE, ZY, JE, DJR, DJRMC, DJSJ, ZXR, ZXRMC, ZXRQ, BJ_HF, CZDD, BJ_HYK
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from BFCRM.HYK_ZFJL
    where JLBH = #{jlbh,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from BFCRM.HYK_ZFJL
    where JLBH = #{jlbh,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yyabl.api.crm.biz.Domain.Hyk_Zfjl" >
    insert into BFCRM.HYK_ZFJL (JLBH, HYKTYPE, ZY, 
      JE, DJR, DJRMC, DJSJ, 
      ZXR, ZXRMC, ZXRQ, 
      BJ_HF, CZDD, BJ_HYK
      )
    values (#{jlbh,jdbcType=INTEGER}, #{hyktype,jdbcType=SMALLINT}, #{zy,jdbcType=VARCHAR}, 
      #{je,jdbcType=DECIMAL}, #{djr,jdbcType=INTEGER}, #{djrmc,jdbcType=VARCHAR}, #{djsj,jdbcType=TIMESTAMP}, 
      #{zxr,jdbcType=INTEGER}, #{zxrmc,jdbcType=VARCHAR}, #{zxrq,jdbcType=TIMESTAMP}, 
      #{bjHf,jdbcType=SMALLINT}, #{czdd,jdbcType=VARCHAR}, #{bjHyk,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yyabl.api.crm.biz.Domain.Hyk_Zfjl" >
    insert into BFCRM.HYK_ZFJL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jlbh != null" >
        JLBH,
      </if>
      <if test="hyktype != null" >
        HYKTYPE,
      </if>
      <if test="zy != null" >
        ZY,
      </if>
      <if test="je != null" >
        JE,
      </if>
      <if test="djr != null" >
        DJR,
      </if>
      <if test="djrmc != null" >
        DJRMC,
      </if>
      <if test="djsj != null" >
        DJSJ,
      </if>
      <if test="zxr != null" >
        ZXR,
      </if>
      <if test="zxrmc != null" >
        ZXRMC,
      </if>
      <if test="zxrq != null" >
        ZXRQ,
      </if>
      <if test="bjHf != null" >
        BJ_HF,
      </if>
      <if test="czdd != null" >
        CZDD,
      </if>
      <if test="bjHyk != null" >
        BJ_HYK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jlbh != null" >
        #{jlbh,jdbcType=INTEGER},
      </if>
      <if test="hyktype != null" >
        #{hyktype,jdbcType=SMALLINT},
      </if>
      <if test="zy != null" >
        #{zy,jdbcType=VARCHAR},
      </if>
      <if test="je != null" >
        #{je,jdbcType=DECIMAL},
      </if>
      <if test="djr != null" >
        #{djr,jdbcType=INTEGER},
      </if>
      <if test="djrmc != null" >
        #{djrmc,jdbcType=VARCHAR},
      </if>
      <if test="djsj != null" >
        #{djsj,jdbcType=TIMESTAMP},
      </if>
      <if test="zxr != null" >
        #{zxr,jdbcType=INTEGER},
      </if>
      <if test="zxrmc != null" >
        #{zxrmc,jdbcType=VARCHAR},
      </if>
      <if test="zxrq != null" >
        #{zxrq,jdbcType=TIMESTAMP},
      </if>
      <if test="bjHf != null" >
        #{bjHf,jdbcType=SMALLINT},
      </if>
      <if test="czdd != null" >
        #{czdd,jdbcType=VARCHAR},
      </if>
      <if test="bjHyk != null" >
        #{bjHyk,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yyabl.api.crm.biz.Domain.Hyk_Zfjl" >
    update BFCRM.HYK_ZFJL
    <set >
      <if test="hyktype != null" >
        HYKTYPE = #{hyktype,jdbcType=SMALLINT},
      </if>
      <if test="zy != null" >
        ZY = #{zy,jdbcType=VARCHAR},
      </if>
      <if test="je != null" >
        JE = #{je,jdbcType=DECIMAL},
      </if>
      <if test="djr != null" >
        DJR = #{djr,jdbcType=INTEGER},
      </if>
      <if test="djrmc != null" >
        DJRMC = #{djrmc,jdbcType=VARCHAR},
      </if>
      <if test="djsj != null" >
        DJSJ = #{djsj,jdbcType=TIMESTAMP},
      </if>
      <if test="zxr != null" >
        ZXR = #{zxr,jdbcType=INTEGER},
      </if>
      <if test="zxrmc != null" >
        ZXRMC = #{zxrmc,jdbcType=VARCHAR},
      </if>
      <if test="zxrq != null" >
        ZXRQ = #{zxrq,jdbcType=TIMESTAMP},
      </if>
      <if test="bjHf != null" >
        BJ_HF = #{bjHf,jdbcType=SMALLINT},
      </if>
      <if test="czdd != null" >
        CZDD = #{czdd,jdbcType=VARCHAR},
      </if>
      <if test="bjHyk != null" >
        BJ_HYK = #{bjHyk,jdbcType=SMALLINT},
      </if>
    </set>
    where JLBH = #{jlbh,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yyabl.api.crm.biz.Domain.Hyk_Zfjl" >
    update BFCRM.HYK_ZFJL
    set HYKTYPE = #{hyktype,jdbcType=SMALLINT},
      ZY = #{zy,jdbcType=VARCHAR},
      JE = #{je,jdbcType=DECIMAL},
      DJR = #{djr,jdbcType=INTEGER},
      DJRMC = #{djrmc,jdbcType=VARCHAR},
      DJSJ = #{djsj,jdbcType=TIMESTAMP},
      ZXR = #{zxr,jdbcType=INTEGER},
      ZXRMC = #{zxrmc,jdbcType=VARCHAR},
      ZXRQ = #{zxrq,jdbcType=TIMESTAMP},
      BJ_HF = #{bjHf,jdbcType=SMALLINT},
      CZDD = #{czdd,jdbcType=VARCHAR},
      BJ_HYK = #{bjHyk,jdbcType=SMALLINT}
    where JLBH = #{jlbh,jdbcType=INTEGER}
  </update>
</mapper>