<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyabl.api.crm.biz.Dao.Hyk_Jfbdjlmx_MdMapper" >
  <resultMap id="BaseResultMap" type="com.yyabl.api.crm.biz.Domain.Hyk_Jfbdjlmx_Md" >
    <id column="HYID" property="hyid" jdbcType="INTEGER" />
    <id column="RQ" property="rq" jdbcType="TIMESTAMP" />
    <id column="CLLX" property="cllx" jdbcType="SMALLINT" />
    <id column="MDID" property="mdid" jdbcType="INTEGER" />
    <result column="WCLJFBD" property="wcljfbd" jdbcType="DOUBLE" />
    <result column="BQJFBD" property="bqjfbd" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    HYID, RQ, CLLX, MDID, WCLJFBD, BQJFBD
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.yyabl.api.crm.biz.Domain.Hyk_Jfbdjlmx_MdKey" >
    select 
    <include refid="Base_Column_List" />
    from BFCRM.HYK_JFBDJLMX_MD
    where HYID = #{hyid,jdbcType=INTEGER}
      and RQ = #{rq,jdbcType=TIMESTAMP}
      and CLLX = #{cllx,jdbcType=SMALLINT}
      and MDID = #{mdid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.yyabl.api.crm.biz.Domain.Hyk_Jfbdjlmx_MdKey" >
    delete from BFCRM.HYK_JFBDJLMX_MD
    where HYID = #{hyid,jdbcType=INTEGER}
      and RQ = #{rq,jdbcType=TIMESTAMP}
      and CLLX = #{cllx,jdbcType=SMALLINT}
      and MDID = #{mdid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yyabl.api.crm.biz.Domain.Hyk_Jfbdjlmx_Md" >
    insert into BFCRM.HYK_JFBDJLMX_MD (HYID, RQ, CLLX, 
      MDID, WCLJFBD, BQJFBD
      )
    values (#{hyid,jdbcType=INTEGER}, #{rq,jdbcType=TIMESTAMP}, #{cllx,jdbcType=SMALLINT}, 
      #{mdid,jdbcType=INTEGER}, #{wcljfbd,jdbcType=DOUBLE}, #{bqjfbd,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yyabl.api.crm.biz.Domain.Hyk_Jfbdjlmx_Md" >
    insert into BFCRM.HYK_JFBDJLMX_MD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hyid != null" >
        HYID,
      </if>
      <if test="rq != null" >
        RQ,
      </if>
      <if test="cllx != null" >
        CLLX,
      </if>
      <if test="mdid != null" >
        MDID,
      </if>
      <if test="wcljfbd != null" >
        WCLJFBD,
      </if>
      <if test="bqjfbd != null" >
        BQJFBD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hyid != null" >
        #{hyid,jdbcType=INTEGER},
      </if>
      <if test="rq != null" >
        #{rq,jdbcType=TIMESTAMP},
      </if>
      <if test="cllx != null" >
        #{cllx,jdbcType=SMALLINT},
      </if>
      <if test="mdid != null" >
        #{mdid,jdbcType=INTEGER},
      </if>
      <if test="wcljfbd != null" >
        #{wcljfbd,jdbcType=DOUBLE},
      </if>
      <if test="bqjfbd != null" >
        #{bqjfbd,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yyabl.api.crm.biz.Domain.Hyk_Jfbdjlmx_Md" >
    update BFCRM.HYK_JFBDJLMX_MD
    <set >
      <if test="wcljfbd != null" >
        WCLJFBD = #{wcljfbd,jdbcType=DOUBLE},
      </if>
      <if test="bqjfbd != null" >
        BQJFBD = #{bqjfbd,jdbcType=DOUBLE},
      </if>
    </set>
    where HYID = #{hyid,jdbcType=INTEGER}
      and RQ = #{rq,jdbcType=TIMESTAMP}
      and CLLX = #{cllx,jdbcType=SMALLINT}
      and MDID = #{mdid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yyabl.api.crm.biz.Domain.Hyk_Jfbdjlmx_Md" >
    update BFCRM.HYK_JFBDJLMX_MD
    set WCLJFBD = #{wcljfbd,jdbcType=DOUBLE},
      BQJFBD = #{bqjfbd,jdbcType=DOUBLE}
    where HYID = #{hyid,jdbcType=INTEGER}
      and RQ = #{rq,jdbcType=TIMESTAMP}
      and CLLX = #{cllx,jdbcType=SMALLINT}
      and MDID = #{mdid,jdbcType=INTEGER}
  </update>
</mapper>