<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyabl.api.crm.biz.Dao.Hyk_Czk_Yhq_ZcMapper" >
  <resultMap id="BaseResultMap" type="com.yyabl.api.crm.biz.Domain.Hyk_Czk_Yhq_Zc" >
    <id column="CZJPJ_JLBH" property="czjpjJlbh" jdbcType="INTEGER" />
    <result column="HYID_ZR" property="hyidZr" jdbcType="INTEGER" />
    <result column="ZY" property="zy" jdbcType="VARCHAR" />
    <result column="ZRJE" property="zrje" jdbcType="DECIMAL" />
    <result column="DJR" property="djr" jdbcType="INTEGER" />
    <result column="DJRMC" property="djrmc" jdbcType="VARCHAR" />
    <result column="DJSJ" property="djsj" jdbcType="TIMESTAMP" />
    <result column="ZXR" property="zxr" jdbcType="INTEGER" />
    <result column="ZXRMC" property="zxrmc" jdbcType="VARCHAR" />
    <result column="ZXRQ" property="zxrq" jdbcType="TIMESTAMP" />
    <result column="CZDD" property="czdd" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    CZJPJ_JLBH, HYID_ZR, ZY, ZRJE, DJR, DJRMC, DJSJ, ZXR, ZXRMC, ZXRQ, CZDD
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from BFCRM.HYK_CZK_YHQ_ZC
    where CZJPJ_JLBH = #{czjpjJlbh,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from BFCRM.HYK_CZK_YHQ_ZC
    where CZJPJ_JLBH = #{czjpjJlbh,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yyabl.api.crm.biz.Domain.Hyk_Czk_Yhq_Zc" >
    insert into BFCRM.HYK_CZK_YHQ_ZC (CZJPJ_JLBH, HYID_ZR, ZY, 
      ZRJE, DJR, DJRMC, DJSJ, 
      ZXR, ZXRMC, ZXRQ, 
      CZDD)
    values (#{czjpjJlbh,jdbcType=INTEGER}, #{hyidZr,jdbcType=INTEGER}, #{zy,jdbcType=VARCHAR}, 
      #{zrje,jdbcType=DECIMAL}, #{djr,jdbcType=INTEGER}, #{djrmc,jdbcType=VARCHAR}, #{djsj,jdbcType=TIMESTAMP}, 
      #{zxr,jdbcType=INTEGER}, #{zxrmc,jdbcType=VARCHAR}, #{zxrq,jdbcType=TIMESTAMP}, 
      #{czdd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yyabl.api.crm.biz.Domain.Hyk_Czk_Yhq_Zc" >
    insert into BFCRM.HYK_CZK_YHQ_ZC
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="czjpjJlbh != null" >
        CZJPJ_JLBH,
      </if>
      <if test="hyidZr != null" >
        HYID_ZR,
      </if>
      <if test="zy != null" >
        ZY,
      </if>
      <if test="zrje != null" >
        ZRJE,
      </if>
      <if test="djr != null" >
        DJR,
      </if>
      <if test="djrmc != null" >
        DJRMC,
      </if>
      <if test="djsj != null" >
        DJSJ,
      </if>
      <if test="zxr != null" >
        ZXR,
      </if>
      <if test="zxrmc != null" >
        ZXRMC,
      </if>
      <if test="zxrq != null" >
        ZXRQ,
      </if>
      <if test="czdd != null" >
        CZDD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="czjpjJlbh != null" >
        #{czjpjJlbh,jdbcType=INTEGER},
      </if>
      <if test="hyidZr != null" >
        #{hyidZr,jdbcType=INTEGER},
      </if>
      <if test="zy != null" >
        #{zy,jdbcType=VARCHAR},
      </if>
      <if test="zrje != null" >
        #{zrje,jdbcType=DECIMAL},
      </if>
      <if test="djr != null" >
        #{djr,jdbcType=INTEGER},
      </if>
      <if test="djrmc != null" >
        #{djrmc,jdbcType=VARCHAR},
      </if>
      <if test="djsj != null" >
        #{djsj,jdbcType=TIMESTAMP},
      </if>
      <if test="zxr != null" >
        #{zxr,jdbcType=INTEGER},
      </if>
      <if test="zxrmc != null" >
        #{zxrmc,jdbcType=VARCHAR},
      </if>
      <if test="zxrq != null" >
        #{zxrq,jdbcType=TIMESTAMP},
      </if>
      <if test="czdd != null" >
        #{czdd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yyabl.api.crm.biz.Domain.Hyk_Czk_Yhq_Zc" >
    update BFCRM.HYK_CZK_YHQ_ZC
    <set >
      <if test="hyidZr != null" >
        HYID_ZR = #{hyidZr,jdbcType=INTEGER},
      </if>
      <if test="zy != null" >
        ZY = #{zy,jdbcType=VARCHAR},
      </if>
      <if test="zrje != null" >
        ZRJE = #{zrje,jdbcType=DECIMAL},
      </if>
      <if test="djr != null" >
        DJR = #{djr,jdbcType=INTEGER},
      </if>
      <if test="djrmc != null" >
        DJRMC = #{djrmc,jdbcType=VARCHAR},
      </if>
      <if test="djsj != null" >
        DJSJ = #{djsj,jdbcType=TIMESTAMP},
      </if>
      <if test="zxr != null" >
        ZXR = #{zxr,jdbcType=INTEGER},
      </if>
      <if test="zxrmc != null" >
        ZXRMC = #{zxrmc,jdbcType=VARCHAR},
      </if>
      <if test="zxrq != null" >
        ZXRQ = #{zxrq,jdbcType=TIMESTAMP},
      </if>
      <if test="czdd != null" >
        CZDD = #{czdd,jdbcType=VARCHAR},
      </if>
    </set>
    where CZJPJ_JLBH = #{czjpjJlbh,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yyabl.api.crm.biz.Domain.Hyk_Czk_Yhq_Zc" >
    update BFCRM.HYK_CZK_YHQ_ZC
    set HYID_ZR = #{hyidZr,jdbcType=INTEGER},
      ZY = #{zy,jdbcType=VARCHAR},
      ZRJE = #{zrje,jdbcType=DECIMAL},
      DJR = #{djr,jdbcType=INTEGER},
      DJRMC = #{djrmc,jdbcType=VARCHAR},
      DJSJ = #{djsj,jdbcType=TIMESTAMP},
      ZXR = #{zxr,jdbcType=INTEGER},
      ZXRMC = #{zxrmc,jdbcType=VARCHAR},
      ZXRQ = #{zxrq,jdbcType=TIMESTAMP},
      CZDD = #{czdd,jdbcType=VARCHAR}
    where CZJPJ_JLBH = #{czjpjJlbh,jdbcType=INTEGER}
  </update>
</mapper>